.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin/sessions/kotlin-compiler-3390706111167742666.salive

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
/.kotlin/
